$nav-link-color: #000;
$nav-link-hover-color: #000;
$nav-tabs-border-color: #000;
$nav-link-padding-y: 0;
$nav-tabs-link-active-border-color: #000 #000 rgb(255, 255, 255) #000;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';